<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="d-flex flex-column justify-content-center align-items-center p-5">

    <div class="row justify-content-center">
      <%- include('../partials/navbar'); %>
    </div>

    <h1>Signin</h1>
    
    <form action="/api/auth/signin" method="POST" class="w-50">
        <div class="form-group">
          <label for="username">Ingrese su email</label>
          <input type="text" class="form-control" id="email" name="username" aria-describedby="userHelp" placeholder="Enter username">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Ingrese su password</label>
          <input type="password" class="form-control" name="password" id="passwordInput" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
       
    </form>
    

    
</body>
</html>